.food-icon {
    aspect-ratio: 1 / 1;
    width: 3rem;
}

input[type=checkbox]:checked + label.strikethrough{
    text-decoration: line-through;
  }

.card-text {
    display: none;
}

/* how do we get this to work?  */
.card-text:hover {
    display: inline;
}