.food-icon {
    aspect-ratio: 1 / 1;
    width: 3rem;
}

input[type=checkbox]:checked + label.strikethrough{
    text-decoration: line-through;
  }

        
  .recipe-card {
    position: relative;
    overflow: hidden;
}
.recipe-card:hover .recipe-name {
    display: block;
}
.recipe-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: skyblue;
    padding: 10px;
}