.food-icon {
    aspect-ratio: 1 / 1;
    width: 3rem;
}

input[type=checkbox]:checked + label.strikethrough{
    text-decoration: line-through;
  }

.form-check-input {
    display: inline-block;
}

:root {
    --background: #060608;
    --color: #FAFAFA;
  }
  
  
  .end {
    display: grid;
    grid-template-columns: 1fr;
  } 
  
  .end span {
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 4rem;
    --end-height: calc(100% / var(--end) - 1px);
    --inverse-index: calc(calc(var(--end) - 1) - var(--index));
    --clip-top: calc(var(--end-height) * var(--index));
    --clip-bottom: calc(var(--end-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: end 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
  }
  
  .end span:nth-child(odd) { --glitch-translate: 8px; }
  .end span:nth-child(even) { --glitch-translate: -8px; }
  
  @keyframes end {
    0% {
      opacity: 0;
      transform: translateX(-50%);
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    };
    60% {
      opacity: 0.5;
      transform: translateX(50%);
    }
    80% {
      transform: none;
      opacity: 1;
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    100% {
      text-shadow: none;
    }
  }
  
  @keyframes glitch {
    0% {
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
      transform: translate(var(--glitch-translate));
    }
    2% {
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    4%, 100% {  text-shadow: none; transform: none; }
  }


i {
  font-size: 2rem;
}

/* .card-img-overlay {
  position: relative;
  overflow: hidden;
}*/
.card-img-overlay:hover .card-text {
  display: inline-block;
}
.card-img-overlay:hover {
  background-color: rgba(3, 2, 2, 0.882);
}

.card-text {
  display: none;
  padding: 10px;
} 
